<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HapLab</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://szfile.haplox.net:10080/assets/metronic/global/plugins/font-awesome/css/font-awesome.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="https://szfile.haplox.net:10080/assets/metronic/global/plugins/bootstrap/css/bootstrap.min.css">

    <style>
        body {
            font-family: 'Lato';
        }

        .fa-btn {
            margin-right: 6px;
        }
    </style>
</head>
<body id="app-layout">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand" href="{% url 'index' %}" style="padding-top: 5px;">
                    <img src="https://szfile.haplox.net:10080/static/images/logo.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                {% if request.user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'my_region' user.id %}">Hi there, {{ request.user }}</a>
                        </li>
						<li><a href="{% url 'logout' %}">退出</a></li>
					</ul>
					{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="{% url 'login' %}">登录</a>
						</li>
					</ul>
					{% endif %}
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <div class="text-center" style="margin-bottom:0">
        <p>Haplox产品部</p>
        <p><a href="#">回到顶部</a></p>
    </div>
    <!-- JavaScripts -->
    <script src="https://szfile.haplox.net:10080/assets/metronic/global/plugins/jquery.min.js"></script>
    <script src="https://szfile.haplox.net:10080/assets/metronic/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
