{% extends "base.html" %}

{% block title %}关于OncoView{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				关于OncoView
			</h3>
            <p><strong>OncoView</strong>是一个肿瘤基因变异解析数据库，包含肿瘤常见驱动基因及其变异的解析。在<a href="{% url 'reports:search' %}">数据库</a>部分中，用户可以通过搜索常见基因以及相应疾病名称进入该基因的解析结果，并从变异解析和用药解析中分别获得该基因突变的解析以及目前已有研究中的用药解析。</p>
            <p><strong>OncoView</strong>解析TGCA、COSMIC等数据库中已经公布的基因变异，所有信息均为人工解析。用药解析结合临床试验分期以及新九级临床试验证据等级分别给出特定解析的临床信息。</p>
            <p><strong>OncoView</strong>的目的是通过对所有突变的解析，让将所有人了解自己的基因组。</p>
            <p><strong>OncoView</strong>仅供科研使用，并且持续更新。一般情况下更新过程讲按照OncoView计划更新，但是如果有特殊突变解析需求，请按照如下联系方式联系我们，我们会尽快回复并更新。</p>
			<!--<h3>关于视频讲解</h3>-->
			<!--<p>特别感谢<strong><a href="http://i.youku.com/medcare" target="_blank">萧孜祎</a></strong>先生对基因以及信号通路的透彻讲解。</p>-->
			<h3>
				更新日志
			</h3>
			<dl class="dl-horizontal">
				<dt>
					2016年5月
				</dt>
				<dd>
					建立数据库，确定数据结构以及数据字典。
				</dd>
				<dt>
					2016年7月
				</dt>
				<dd>
					确定数据解析SOP。
				</dd>
				<dt>
					2016年11月
				</dt>
				<dd>
					更新数据库字段，更新数据库更新后台，确定数据库管理管理SOP。
				</dd>
				<dt>
					2017年4月
				</dt>
				<dd>
					非小细胞肺癌NCCN指南推荐基因以及常见驱动变异解析。
				</dd>
                <dt>
                    2017年6月
                </dt>
                <dd>
                    结直肠癌NCCN指南推荐基因以及常见驱动变异解析，肺癌驱动基因解析更新。
                </dd>
                <dt>
                    2017年12月
                </dt>
                <dd>
                    乳腺癌以及前列腺癌常见驱动基因解析。
                </dd>
			</dl>
			<h3>
				联系方式
			</h3>
            <dl>
            <dt>Email:</dt>
            <dd><a href="mailto:info@onco-view.com">info@onco-view.com</a></dd>
            <dt>Tel</dt>
            <dd>(0512) 65368830</dd>
            <dt>LindedIn</dt>
            <dd><a href="http://www.linkedin.com/company/oncoview/">OncoView</a></dd>
            </dl>
		</div>
	</div>
</div>


{% endblock %}