{% extends "base.html" %}

{% block title %}Welcome to OncoView!{% endblock %}

{% block script %}
<!--<script type="text/javascript" src="/static/js/gene_data.js"></script>-->
<script type="text/javascript">
	function loadVariantdescs() {
    $("#variantdesc").empty();
    $("#gene_disease").empty();
    $("#annotation").empty();
    // $("#clinical_trial_data").empty();
    $.ajax(
        {
            url: "/reports/loadvariantdescs",
            type: "GET",
            data: {
                "gene_id": $("#ncbiid").text(),
			},
            success: function (data, status) {
                $("#variantdesc").empty();
                var html="";
                var testObj=data.result;
                html += "<tr>"+"<th>"+"基因变异"+"</th>"+"<th>"+"变异解析"+"</th>"+"<th>"+"参考文献"+"</th>"+"</tr>";
                for (var i=0; i<testObj.length; i++){
                    var ref=testObj[i].reference;
                    html += "<tr>"+"<td>"+testObj[i].gene_variant+"</td>"+"<td>"+testObj[i].description_chinese+"</td>"+"<td>"+referenceFormating(ref)+"</td>"+"</tr>";
                };
                $("#variantdesc").append(html);
            },
            error: function (status) {
                console.log(status);
            }
        }
    )
}

function loadAnnotation() {
	$("#annotation").empty();
	$("#variantdesc").empty();
	$("#gene_disease").empty();
	// $("#clinical_trial_data").empty();
	$.ajax(
		{
			url: "/reports/loadannotation",
			type: "GET",
			data: {
			    "gene_id": $("#ncbiid").text(),
			},
			success: function (data) {
			    var html="";
			    var testObj=data.result;
			    html += "<tr><th width='80'>"+"基因变异"+"</th><th width='80'>"+"疾病"+"</th><th width='80'>"+"证据类型"+"</th><th width='80'>"+"药物"+"</th><th width='80'>"+"获益情况"+"</th><th>"+"研究结果"+"</th><th width='80'>"+"证据等级"+"</th><th width='80'>"+"证据分期"+"</th><th width='80'>"+"参考文献"+"</th></tr>";
			    for (var i=0;i<testObj.length;i++){
			        var ref=testObj[i].reference;
			        html += "<tr><td>"+testObj[i].gene_variant+"</td><td>"+testObj[i].disease+"</td><td>"+testObj[i].evidence_type+"</td><td>"+drugFormating(testObj[i].drug)+"</td><td>"+testObj[i].relationship+"</td><td>"+testObj[i].annotation+"</td><td>"+testObj[i].evidence_phase+"</td><td>"+testObj[1].evidence_ranking+"</td><td>"+referenceFormating(testObj[i].reference)+"</td></tr>";
				}
			    $("#annotation").append(html);
            }
		}
	)
}

function loadGenedisease() {
	$("#annotation").empty();
	$("#variantdesc").empty();
	$("#gene_disease").empty();
	// $("#clinical_trials").empty();
	$.ajax(
		{
			url: "/reports/loadgenedisease",
			type: "GET",
			data: {
			    "gene_id": $("#ncbiid").text(),
			},
			success: function (data) {
			    var html="";
			    var Obj=data.result;
			    html += "<tr><th width='100'>"+"基因"+"</th><th width='100'>"+"疾病"+"</th><th>"+"注释"+"</th></tr>";
			    for (var i=0;i<Obj.length;i++){
			        html+="<tr><td>"+Obj[i].gene+"</td><td>"+Obj[i].disease+"</td><td>"+Obj[i].annotation+"</td></tr>"
				}
			    $("#gene_disease").append(html);
            }
		}
	)
}

function getCt() {
    // $("#annotation").empty();
	// $("#variantdesc").empty();
	// $("#gene_disease").empty();
	// $("#clinical_trials").empty();
	// var ct_help="";
	//     ct_help += "<br>";
	//     ct_help += "<p class='info'>临床试验信息来自<a href=\"https://clinicaltrials.gov/\">clinicaltrials.gov</a>检索，检索关键词为当前所查询基因，故结果仅供参考，如需更多信息可从超链接中进入https://clinicaltrials.gov/查询。</p>";
	//     ct_help += "<p>由于在线检索速度较慢，请耐心等待，如果无法获取列表，可尝试刷新。</p>";
	//     ct_help += "<p>返回其他标签内容时时如无法获取，请尝试刷新页面。</p>";
	//     $("#help_ct").append(ct_help);
	$.ajax(
    {
        url: "/reports/getclinicaltrials",
        type:"GET",
		async: false,
        data: {
            "gene": $("#gene_symbol").text(),
        },
        success: function (data, status) {
            $("#clinical_trial_data").empty();
            if (data.count != '0') {
                var ct=data.result;
                var html="";
                html += "<tr>"+"<th>"+"NCT ID"+"</th>"+"<th>"+"题目"+"</th>"+"<th>"+"招募状态"+"</th>"+"<th>"+"临床干预"+"</th>"+"<th>"+"临床特征"+"</th>"+"</tr>";
                for (var i=0; i<data['result'].length; i++){
                    var url=ct[i].url;
                    html += "<tr><td><a href=" +url+ " target='_blank'>"+ct[i].nct_id+"</td><td>"+ct[i].title+"</td><td>"+ct[i].status+"</td><td>"+ct[i].intervention_summary+"</td><td>"+ct[i].condition_summary+"</td></tr>";
            }
            $("#clinical_trial_data").append(html);
            } else {
                var html = "";
                html += "<p>"+data.result+"</p>";
                $("#error").append(html);
            }
        },
        error: function () {
            $("#clinical_trial_data").append("可能由于连接超时而没有查询到结果，请尝试刷新，或直接访问https://clinicaltrials.gov/");
        }
    }
)}

function referenceFormating(reference) {
    var ref_html="";
    for (var i=0;i<reference.length;i++){
        var link="/reports/reference/"+reference[i][0]+"/details";
        if (reference[i][1]){
            ref_html+="<span>"+"<a target='_blank' href="+link+">"+reference[i][1]+"</a></span><br>";
        } else {
            ref_html+="<span>"+"<a target='_blank' href="+link+">"+"详情"+"</a></span><br>";
		}
	}
	return ref_html
}

function drugFormating(drug) {
	if (drug) {
		var drug_html="";
		var link="/reports/drugs/"+drug[0]+"/details";
		drug_html+="<a target='_blank' href="+link+">"+drug[1]+"</a>";
		return drug_html;
	} else {
	    return "None"
	}
}

</script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<dl class="dl-horizontal">
                            <dt>基因名称</dt>
							<dd><a href="http://www.ncbi.nlm.nih.gov/gene/{{ basic_gene_info.gene_id }}" target="_blank" id="gene_symbol">{{ basic_gene_info.gene_symbol }}</a></dd>
                            <dd hidden id="ncbiid">{{ basic_gene_info.gene_id }}</dd>
                            <dt>系统命名法全称</dt>
							<dd>{{ basic_gene_info.full_name_from_nomenclature_authority }}</dd>
							<dt>别名</dt>
							<dd>{{ basic_gene_info.synonyms }}</dd>
							<dt>Xrefs</dt>
							<dd>{{ basic_gene_info.db_xrefs }}</dd>
							<dt>基因组定位</dt>
							<dd>{{ basic_gene_info.map_location }}</dd>
							{% if gene_info %}
							<dt>基因功能描述</dt>
							<dd>{{ gene_info.gene_description_chinese }}</dd>
							<dt>Pathway</dt>
							<dd><a href="https://www.kegg.jp/kegg-bin/search_pathway_text?map=map&mode=1&viewImage=true&keyword={{gene_info.gene_name}}" target="_blank">KEGG Link</a></dd>
								{% if gene_info.pathway_website %}<dt>视频讲解</dt>
								<dd><a href="{{ gene_info.pathway_website }}" target="_blank"><span class="glyphicon glyphicon-film"></span></a></dd>
								{% endif %}
							{% endif %}
							<dt>临床试验</dt>
							<dd><a onclick="getCt()">点击获取</a></dd>
						</dl>
					</div>
				</div>
			</div>
            <ul id="myTab" class="nav nav-tabs">
                {% if gene_variant_description_count %}<li><a href="#variantdescs" data-toggle="tab" onclick="loadVariantdescs()">Variant Description</a></li>{% endif %}
				{% if annotation_count %}<li><a href="#annotation" data-toggle="tab" onclick="loadAnnotation()">Annotation</a></li>{% endif %}
				{% if gene_disease_count %}<li><a href="#gene_disease" data-toggle="tab" onclick="loadGenedisease()">GeneDisease</a></li>{% endif %}
				<!--<li><a href="#load_clinical_trials" data-toggle="tab" onclick="getCt()">ClinicalTrials</a></li>-->
			</ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="load_variant">
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <table class="table table-hover table-condensed" id="variantdesc"></table>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="tab-pane fade in active" id="load_annotation">
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<table class="table table-hover table-condensed" id="annotation"></table>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade in active" id="load_gene_disease">
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<table class="table table-hover table-condensed" id="gene_disease"></table>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="tab-pane fade in active" id="load_clinical_trials">-->
					<!--<div class="container">-->
						<!--<div class="row clearfix">-->
							<!--<div class="col-md-12 column">-->
								<!--<div class="info" id="help_ct"></div>-->
								<!--<table class="table table-hover table-condensed" id="clinical_trial_data"></table>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="tab-pane fade in active" id="clinical_trials">-->
					<!--<h4>{{ basic_gene_info.gene_symbol }} 相关临床试验</h4>-->
					<!--<p>临床试验信息来自<a href="https://clinicaltrials.gov/">clinicaltrials.gov</a>检索，检索关键词为当前所查询基因，故结果仅供参考，如需更多信息可从超链接中进入https://clinicaltrials.gov/查询。</p>-->
					<!--<p>由于在线检索速度较慢，请耐心等待，如果无法获取列表，可尝试刷新。</p>-->
					<!--<p id="error"></p>-->
					<!--<table class="table table-hover table-striped" id="clinical_trial_data"></table>-->
				<!--</div>-->
            </div>
		</div>
	</div>
</div>

{% endblock %}
