{% extends "base.html" %}

{% block title %}用户分析请求列表{% endblock %}

{% block script %}
<style>
	table {
				width: 90%;
				background: #ccc;
				margin: 10px auto;
				border-collapse: collapse;/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
			}
			th,td {
				height: 25px;
				line-height: 25px;
				text-align: center;
				border: 1px solid #ccc;
			}
			th {
				background: #eee;
				font-weight: normal;
			}
			tr {
				background: #fff;
			}
			tr:hover {
				background: #cc0;
			}
			td a {
				color: #06f;
				text-decoration: none;
			}
			td a:hover {
				color: #06f;
				text-decoration: underline;
			}
</style>
<script type="text/javascript">
	function getQuery() {
		$.ajax({
			url: "/reports/take_query",
			method: "GET",
			data: {
			    "query_id": $("#query_id").text(),
			},
			success: function () {
				location.reload();
            },
			error: function () {
				alert("请求失败，请联系管理员")
            }
		})
    }
</script>
{% endblock %}



{% block content %}
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div>
				<table class="table">
					<thead>
					<tr>
						<th>查询编号</th>
						<th>显示编号</th>
						<th>用户</th>
						<th>题目</th>
						<th>疾病</th>
						<th>建立时间</th>
						<th>归属状态</th>
					</tr>
					</thead>
					<tbody>
					{% for query in all_query %}
					<tr>
						<td><a href="{% url 'reports:query_summary' query.query_id %}" id="query_id">{{ query.query_id }}</a></td>
						<td>{{ query.query_symbol }}</td>
						<td>{{ query.query_user }}</td>
						<td>{{ query.subject }}</td>
						<td>{{ query.disease }}</td>
						<td>{{ query.created_date }}</td>
						<td>
							{% if query.curator %}
							{{ query.curator }}
							{% else %}
							<a type="button" class="btn btn-primary" onclick="getQuery()">Take it</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}
