{% extends "base.html" %}

{% block title %}OncoView-临床试验{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/clinical_trials.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>{{ gene }} 相关临床试验信息</h3>
			{% if result.count %}
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>NCT ID</th>
						<th>题目</th>
						<th>招募状态</th>
						<th>临床干预</th>
						<th>临床特征</th>
					</tr>
				</thead>
				<tbody>
				{% for i in result.result %}
				<tr>
					<td><a href="{{ i.url }}" target="_blank">{{ i.nct_id }}</a></td>
					<td>{{ i.title }}</td>
					<td>{{ i.status }}</td>
					<td>{{ i.intervention_summary }}</td>
					<td>{{ i.condition_summary }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p>{{ result.result }}</p>
			{% endif %}
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="load_variant">
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
								<span id="variant_load"></span>
                                <table class="table table-hover table-condensed" id="variantdesc"></table>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="tab-pane fade in active" id="load_annotation">
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<table class="table table-hover table-condensed" id="annotation"></table>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade in active" id="load_gene_disease">
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-12 column">
								<table class="table table-hover table-condensed" id="clinical_trial_data"></table>
							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>
{% endblock %}
