{% extends "base.html" %}

{% block title %}OncoView BiomarkerExplorer{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/biomarker-suggest.js"></script>
{% endblock %}




{% block content %}


<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
            <div style="padding: 100px 30px 10px;">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <form class="bs-example bs-example-form" role="form" method="post" action="disease_biomarker_list">
                            {% csrf_token %}
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">By Disease</span>
                                <input type="text" class="form-control" name="disease_biomarker" maxlength="30" required id="id_disease_biomarker" placeholder="请输入疾病名称，如'non-small cell lung carcinoma'或'非小细胞肺癌'" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="col-md-8 column">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                检索提示
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>OncoView检索疾病信息，以及所检索疾病相关分子标记物以及临床用药信息；</li>
                                <li>使用疾病检索框时，在输入两个字符后将出现提示菜单，您可以输入中文或英文疾病名称来获取选择菜单；OncoView使用Disease Ontology疾病名称，为尽量准确查询疾病，推荐输入英文名称并从提示菜单中选择；</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="list-group">
                        <a class="list-group-item active">Hotspots in Disease Searching</a>
						{% for item in hot_list %}
                        <div class="list-group-item">
							{{ item.disease__do__disease_name }}
                            <span class="badge">{{ item.disease_an_num }}</span>
						</div>
                        {% endfor %}
					</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
