{% extends "base.html" %}
{% block title %}药物信息{% endblock %}
{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>药物信息</h3>
			<dl class="dl-horizontal">
				<dt>药物名称</dt>
				<dd>{{ drug_detail.drug_name }}</dd>
				<dt>药物中文名称</dt>
				<dd>{{ drug_detail.drug_name_chinese}}</dd>
				<dt>其他名称</dt>
				<dd>{{ drug_detail.synonyms}}</dd>
				<dt>商品名（英文）</dt>
				<dd>{{ drug_detail.trade_name}}</dd>
				<dt>商品名（中文）</dt>
				<dd>{{ drug_detail.drug_name_chinese }}</dd>
				<dt>药物简述</dt>
				<dd>{{ drug_detail.description }}</dd>
				<dt>药物性质</dt>
				<dd>{{ drug_detail.drug_character }}</dd>
				<dt>DrugBankID</dt>
				<dd><a href="https://www.drugbank.ca/drugs/{{ drug_detail.drugbank_id }}" target="_blank">{{ drug_detail.drugbank_id }}</a></dd>
			</dl>
			{% if drug_detail.approveddrug_set %}
			<h3>药物获批情况</h3>
				{% for drug in drug_detail.approveddrug_set.all %}
				<dl class="dl-horizontal">
					<dt>适应症</dt>
					<dd>{{ drug.disease }}</dd>
					<!--<dt>批准机构</dt>-->
					<!--<dd>{{ drug.approving_agency }}</dd>-->
					<dt>获批时间</dt>
					<dd>{{ drug.approved_date }}</dd>
					<dt>分子标记物</dt>
					<dd>{{ drug.genes_to_be_tested }}</dd>
					<dt>药物标签描述</dt>
					<dd>{{ drug.approval_description_chinese }}</dd>
					<dt>参考文献</dt>
					<dd>{{ drug.reference }}</dd>
					<dt>临床研究信息</dt>
					<dd>{{ drug.supported_clinical_trial_description }}</dd>
				</dl>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>


{% endblock%}