{% extends "base.html" %}

{% block title %}OncoView-Disease{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>药物信息</h3>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<dl class="dl-horizontal">
							<dt>药物名称</dt>
							<dd>{{ drug_info.drug_name }}</dd>
							<dt>药物中文名称</dt>
							<dd>{{ drug_info.drug_name_chinese}}</dd>
							<dt>其他名称</dt>
							<dd>{{ drug_info.synonyms}}</dd>
							<dt>商品名（英文）</dt>
							<dd>{{ drug_info.trade_name}}</dd>
							<dt>商品名（中文）</dt>
							<dd>{{ drug_info.drug_name_chinese }}</dd>
							<dt>药物简述</dt>
							<dd>{{ drug_info.description }}</dd>
							<dt>药物性质</dt>
							<dd>{{ drug_info.drug_character }}</dd>
							<dt>DrugBankID</dt>
							<dd><a href="https://www.drugbank.ca/drugs/{{ drug_info.drugbank_id }}" target="_blank">{{ drug_info.drugbank_id }}</a></dd>
						</dl>
					</div>
				</div>
			</div>
			<div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<h3>分子标记物信息</h3>
						{% if not user.has_paid %}<p class="help">您现在的状态为普通用户，您可以选择升级账号，以获取全部内容。</p>{% endif %}
						{% if drug_annotation %}
							<table class="table table-hover table-striped ">
								<thead>
									<tr>
										<th>基因变异</th>
										<th width="80">癌种</th>
										<th width="80">证据类型</th>
										<th width="80">获益情况</th>
										{% if user.has_paid %}
											<th>研究结果</th>
										{% else %}
											<th width="80" class="warning">研究结果</th>
										{% endif %}
										<th width="80">证据等级</th>
										<th width="80">证据分期</th>
										<th width="80">参考文献</th>
									</tr>
								</thead>
								<tbody>
								{% for anno in drug_annotation %}
									<tr>
										<td>{{ anno.gene_variant }}</td>
										<td>{% if anno.disease.disease_name_chinese %}{{ anno.disease.disease_name_chinese }}{% else %}{{anno.disease}}{% endif %}</td>
										<td>{{ anno.evidence_type.evidence_type_chinese }}</td>
										<td>{{ anno.relationship.relationship_chinese }}</td>
										<td>{% if user.has_paid %}{{ anno.annotation_chinese }}{% endif %}</td>
										<td>{{ anno.evidence_ranking.evidence_ranking_chinese }}</td>
										<td>{% if anno.evidence_phase.evidence_phase == 'Approved' %}<a href="{% url 'reports:drug_details' anno.drug.drug_id %}" target="_blank">{{ anno.evidence_phase.evidence_phase_chinese }}</a>{% else %}{{ anno.evidence_phase.evidence_phase_chinese }}{% endif %}</td>
										<td>
											{% for ref in anno.variant_drug_annotation_ref.all %}
											<span><a href="{% url 'reports:reference_details' ref.reference_id %}" target="_blank">
												{% if ref.pmid %}{{ ref.pmid }}{% else %}详情{% endif %}
											</a></span>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
