{% extends "base.html" %}

{% block title %}Welcome to OncoView!{% endblock %}

{% block script %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />-->
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />

{{ form.media }}

{% endblock %}

{% block content %}
<br>
<br>



<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{% for i in form %}
				<div class="fieldWrapper">
					{{ i.errors }}
					{{ i.label_tag }}
					{{ i }}
					{% if i.help_text %}<p class="help">{{ i.help_text|safe }}</p>{% endif %}
				</div>
				{% endfor %}
				<button class="btn btn-default" type="submit" id="submit_file">保存并关闭</button>
			</form>
		</div>
	</div>
</div>


{% endblock %}
