{% extends "base.html" %}

{% block title %}My Site{% endblock %}

{% load static %}

{% block script %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% endblock %}

{% block content %}
asdfffffffffffffff
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form class="form-horizontal" role="form" method="post" action="details">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>

{% endblock%}
