{% extends "base.html" %}

{% load staticfiles %}

{% block title %}请登录{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
			<h4>区域</h4>
			<ul>
				{% for r in region_list %}
				<li><a href="../regionsale/{{r}}">{{ r }}</a></li>
				{% endfor %}
			</ul>
			<h4>销售</h4>
			<ul>
				{% for s in sale_list %}
				<li><a href="../saleman/{{s}}">{{ s }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3>
						{{my_area}}区域数据统计简报
					</h3>
					{{ my_df_desc | safe }}
					<a href="{% url 'downloaddata' %}" target="_blank">下载数据</a>
					<h3>销量堆积图</h3>
					<img src="/static/images/{{request.user}}/region_stacked_graph.png" alt="300x200">
					<h3>销售表现</h3>
					<img src="/static/images/{{request.user}}/region_sale_performance.png" alt="300x200">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
