{% extends "base.html" %}
{% block title %}My Site{% endblock %}
{% block content %}
{% block script %}
<style>
   #query_box{
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
	label { float: left; width: 10em; margin-right: 1em; text-align: right; }
	input { width: 20em}
</style>
{% endblock %}
<div class="container" id="query_box">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form class="form-horizontal" role="form" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock%}