{% extends "base.html" %}

{% block title %}Welcome to OncoView!{% endblock %}

{% block script %}
<script type="text/javascript">
	function get_analysis_manually() {
		$.ajax (
			{
				url: "/reports/get_analysis_manually",
				type: "GET",
				data: {
				    "query_symbol": $("#query_symbol").text(),
				},
				success: function (data) {
				    alert(data);
					location.reload();
                },
				error: function () {
					alert("提交不成功，请致电或发送邮件联系OncoView反馈问题")
                }
			}
		)
    }
    // function chkTemplate() {
	 //    var test=$('#temp_sellect radio[name=choice]').is(":checked");
    // }
</script>
<style>

</style>
{% endblock %}

{% block content %}
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h4>
						基本信息
					</h4>
					<dl class="dl-horizontal">
						<dt>查询编号</dt>
						<dd id="query_symbol">{{ query_detail.query_symbol }}</dd>
						<dt>题目</dt>
						<dd>{{ query_detail.subject }}</dd>
						<dt>疾病</dt>
						<dd>{{ query_detail.disease }}</dd>
						<dt>描述</dt>
						<dd>{{ query_detail.description }}</dd>
						<dt>查询建立时间</dt>
						<dd>{{ query_detail.created_date }}</dd>
						<dt>查询方式</dt>
						{% if query_detail.need_manually %}
						<dd>人工解读</dd>
						{% else %}
						<dd>自动解读<span>  <a onclick="get_analysis_manually()">需要人工解读</a></span></dd>
						{% endif %}
					</dl>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h4>
						样本信息
					</h4>
					{% if query_detail.orderinformation %}
					<dl class="dl-horizontal">
						<dt>自定义样本ID</dt>
						<dd>{{ query_detail.orderinformation.custom_order_id }}</dd>
						<dt>样本所有者姓名</dt>
						<dd>{{ query_detail.orderinformation.patient_name }}</dd>
						<dt>样本所有者性别</dt>
						<dd>{{ query_detail.orderinformation.patient_birth }}</dd>
						<dt>样本所有者出生年月</dt>
						<dd>{{ query_detail.orderinformation.patient_birth }}</dd>
						<dt>样本所有者电话</dt>
						<dd>{{ query_detail.orderinformation.patient_mobile }}</dd>
						<dt>样本所有者Email</dt>
						<dd>{{ query_detail.orderinformation.patient_email }}</dd>
						<dt>报告寄送地址</dt>
						<dd>{{ query_detail.orderinformation.patient_address }}</dd>
						<dt>样本接受日期</dt>
						<dd>{{ query_detail.orderinformation.sample_receive_date }}</dd>
						<dt>样本检测日期</dt>
						<dd>{{ query_detail.orderinformation.experiment_date }}</dd>
					</dl>
					{% else %}
					<a class="btn btn-default" type="button" href="{% url 'reports:fill_sample_info' query_detail.query_symbol %}">
						新建样本信息
					</a>
					{% endif %}
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h4>
						测序文件信息
					</h4>
					<table class="table">
						<thead>
							<tr>
								<th>文件名</th>
								<th>上传时间</th>
								{% if query_detail.need_manually %}
								<th>解读状态</th>
								<th>审核状态</th>
								<th>解读</th>
								<th>解读时间</th>
								<th>审核</th>
								<th>审核时间</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
						{% for query in query_file %}
							{% if query.has_reviewed and query.has_interpreted %}<tr class="success">{% elif query.has_interpreted %}<tr class="info">{% else %}<tr>{% endif %}
								<td><a href="{% url 'reports:uploaded_file_summary' query.id %}">{{ query.filename }}</a></td>
								<td>{{ query.upload_time }}</td>
								{% if query_detail.need_manually %}
								<td>{{ query.has_interpreted }}</td>
								<td>{{ query.has_reviewed }}</td>
								<td>{{ query.curator }}</td>
								<td>{{ query.curate_time }}</td>
								<td>{{ query.reviewer }}</td>
								<td>{{ query.review_time }}</td>
								{% endif %}
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<a type="button" class="btn btn-primary" href="{% url 'reports:uploadqueryfile' query_detail.query_symbol %}">上传新文件</a>
				</div>
			</div>
			<br>

			<div class="row clearfix">
				<div class="col-md-12 column">
					<h4>查询结果</h4>
					<div class="col-md-12 column">
						<form id="temp_sellect" method="post" action="{% url 'reports:analysisquery' query_detail.query_symbol %}">
							{% csrf_token %}
							<fieldset>
								<legend><h5>选择模板</h5></legend>
								<div>
									{% for template in templates %}
									<label class="radio-inline">
										<input type="radio" name="choice" value="{{ template.filename }}"> {{ template }}
									</label>
									{% endfor %}
									<label class="radio-inline">
										<input type="radio" name="choice" value="excel"> Excel
									</label>
								</div>
								<br>
								<button class="btn btn-primary" type="submit" onclick="chkTemplate()">提交</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
