{% extends "base.html" %}
{% block title %}参考文献{% endblock %}
{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				参考文献
			</h3>
			<dl class="dl-horizontal">
				<dt>文献题目</dt>
				<dd>{{ reference_details.title }}</dd>
				<dt>作者</dt>
				<dd>{{ reference_details.authors }}</dd>
				<dt>文献来源</dt>
				<dd>{{ reference_details.journal }}</dd>
				<dt>出版日期</dt>
				<dd>{{ reference_details.publish_date }}</dd>
				<dt>摘要</dt>
				<dd>{{ reference_details.medline_abstract }}</dd>
				{% if reference_details.pmid %}
				<dt>PMID</dt>
				<dd><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{reference_details.pmid}}" target="_blank">{{reference_details.pmid}}</a></dd>
				{% endif %}
				{% if reference_details.doi_id %}
				<dt>DOI</dt>
				<dd><a href="http://sci-hub.tw/{{reference_details.doi_id}}">{{reference_details.doi_id}}</a></dd>
				{% endif %}
				{% if reference_details.url %}
				<dt>URL</dt>
				<dd><a href="{{reference_details.url}}" target="_blank"></a></dd>
				{% endif %}
			</dl>
		</div>
	</div>
</div>
{% endblock%}