{% extends "base.html" %}

{% block title %}Welcome to OncoView!{% endblock %}

{% block script %}
<style>
	table {
				width: 90%;
				background: #ccc;
				margin: 10px auto;
				border-collapse: collapse;/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
			}
			th,td {
				height: 25px;
				line-height: 25px;
				text-align: center;
				border: 1px solid #ccc;
			}
			th {
				background: #eee;
				font-weight: normal;
			}
			tr {
				background: #fff;
			}
			tr:hover {
				background: #cc0;
			}
			td a {
				color: #06f;
				text-decoration: none;
			}
			td a:hover {
				color: #06f;
				text-decoration: underline;
			}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>基因</th>
						<th>转录本</th>
						<th>核苷酸</th>
						<th>氨基酸</th>
						<th>MutationTaster_pred</th>
						<th>Polyphen2</th>
						<th>SIFT</th>
					</tr>
				</thead>
				<tbody>
				{% for i in query %}
					{% if i.has_interpreted %}<tr class="success">{% else %}<tr>{% endif %}
						<td class="gene"><a href="{% url 'reports:gene_variant_annotation' i.id %}">{{ i.INFO_Gene_refGene }}</a></td>
						<td class="transcript">{{ i.INFO_GeneDetail_refGene }}</td>
						<td class="cds">{{ i.INFO_AAChange_refGene }}</td>
						<td class="pep">{{ i.INFO_ExonicFunc_refGene }}</td>
						<td class="mt">{{ i.INFO_MutationAssessor_pred }}</td>
						<td class="pp2">{{ i.INFO_Polyphen2_HVAR_pred }}</td>
						<td class="sift">{{ i.INFO_SIFT_pred }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}
